name: Publish

# on:
#   push:
#     tags: ["v*"]

on:
  push:
    branches:
      - main

jobs:
  publish:
    if: "startsWith(github.event.commits[0].message, 'chore(release):')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.PUBLISH_GITHUB_TOKEN }}
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/

      - name: Configure Git User
        run: |
          git config --global user.email "aleksandr.elkin+ci@tradeshift.com"
          git config --global user.name "Github Actions Runner"
      - name: Install dependencies
        run: npm ci
      - run: npm run bootstrap
      - name: Build
        run: npm run build
      # - name: Update version
      #   run: npm run lerna-version
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish to NPM
        run: npm run lerna-publish-ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: 'https://npm.pkg.github.com'
          scope: '@aleks-elkin'
      - run: npm run lerna-publish-ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}