# name: Publish Packages

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#         with:
#           fetch-depth: 0
#           token: ${{ secrets.GITHUB_TOKEN }}
#       - uses: actions/setup-node@v2
#         with:
#           node-version: 14
#           registry-url: https://registry.npmjs.org/
#       - run: npm ci
#       - run: npm run bootstrap
#       - run: npm run build

#   release:
#     name: Release
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout Repo
#         uses: actions/checkout@v2
#         with:
#           fetch-depth: 0
#           token: ${{ secrets.GITHUB_TOKEN }}
#       - name: Setup Node.js
#         uses: actions/setup-node@v2
#         with:
#           node-version: 14

#       - name: Install Dependencies
#         run: npm ci
#       - run: npm run bootstrap

#       - name: Create Release Pull Request
#         uses: changesets/action@master
#         with:
#           # this expects you to have a npm script called version that runs some logic and then calls `changeset version`.
#           version: npm run version
#           commit: 'chore: version bump'
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#   publish-npm:
#     needs: build
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - uses: actions/setup-node@v2
#         with:
#           node-version: 12
#           registry-url: https://registry.npmjs.org/
#       - run: npm ci
#       - run: npm run bootstrap
#       - run: npm build
#       - run: npm run publish-ci
#         env:
#           NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

#   publish-gpr:
#     needs: build
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - uses: actions/setup-node@v2
#         with:
#           node-version: 14
#           registry-url: 'https://npm.pkg.github.com'
#           scope: '@aleks-elkin'
#       - run: npm ci
#       - run: npm run bootstrap
#       - run: npm build
#       - run: npm run publish-ci
#         env:
#           NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

name: Release

on:
  # Trigger the workflow on push but only for the main branch
  push:
    branches: [main]
    tags-ignore:
      -**           # Push events to tags

jobs:
  publish:
    if: "!contains(github.event.head_commit.author.name, 'Github Actions Runner')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.PUBLISH_GITHUB_TOKEN }}
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - name: Configure Git User
        run: |
          git config --global user.email "aleksandr.elkin+ci@tradeshift.com"
          git config --global user.name "Github Actions Runner"
      - run: npm ci
      - run: npm run bootstrap
      - run: npm run build
      - name: Update version
        run: npm run lerna-version
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish to NPM
        run: npm run lerna-publish:npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: 'https://npm.pkg.github.com'
          scope: '@aleks-elkin'
      - run: npm run lerna-publish:github
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}